# ビルド成果物
*.in
main
a.out
.vscode

# Vault 内の md ノート
30_anki/
anki_csv/
Templates/

# Vault 内の md ノート（除外したい場合）
30_anki/
anki_csv/
Templates/

# Attachments フォルダ
attachments/

# OS ファイル
*/.DS_Store
00_index/
10_atcoder_notes/
20_algo_notes/
